---
- name: Build VM on VMware
  hosts: vmware
  gather_facts: no
  vars_files:
    - ../vars/vm_vars.yml
  tasks:
    - name: Create VM from template
      vmware.vmware.vmware_guest:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: no
        datacenter: "{{ datacenter }}"
        cluster: "{{ cluster }}"
        name: "{{ vm_name }}"
        template: "{{ template }}"
        datastore: "{{ datastore }}"
        networks:
          - name: "{{ network }}"
            ip: "{{ vm_ip }}"
            netmask: "{{ vm_netmask }}"
            gateway: "{{ vm_gateway }}"
            dns_servers: "{{ dns_servers }}"
        state: poweredon
        wait_for_ip_address: yes
      register: vm_info

    - name: Add new VM to inventory
      add_host:
        name: "{{ vm_ip }}"
        groups: new_vms
        ansible_user: root

- name: Post Provisioning Checks
  hosts: new_vms
  become: yes
  roles:
    - dns_check
    - ssh_check
    - patching
    - qualys
    - sentinel
